// https://coolors.co/040926-3f37c9-b5179e-f07167-6c1aef

//$oxford-blue: #040926ff;
//$persian-blue: #3f37c9ff;
//$byzantine: #b5179eff;
//$bittersweet: #f07167ff;
//$electric-indigo: #6c1aefff;

$primary-fg-color: #0e0e0e;
$secondary-fg-color: #e53125;
$primary-bg-color: #f1e5ca;

$button-bg-color: rgb(26, 239, 72);
$secondary-bg-color: #292e39;

$accent-color: $secondary-fg-color;
$alt-text-color: $primary-bg-color;

//-- Fine-tuning --
$tagline-color: $primary-fg-color;

$button-fg-color: $secondary-fg-color;
// Nav color of the full nav which shows up when pressing the burger on mobile viewports.
$full-nav-bg-color: $primary-bg-color;
$full-nav-fg-color: $secondary-fg-color;

// The links have some shadow effect. It usually makes sense to leave this as is.
$link-shadow-color: $primary-bg-color;

$gallery-bg-color: $secondary-bg-color;
$gallery-modal-bg-color: $gallery-bg-color;
$gallery-overlay-bg-color: $primary-bg-color;
$gallery-overlay-title-color: $primary-fg-color;
$gallery-overlay-subtitle-color: $alt-text-color;
$gallery-modal-close-color: $primary-fg-color;

$footer-bg-color: $primary-bg-color;
$footer-icon-color: $primary-fg-color;
$footer-text-color: $secondary-fg-color;