{{ if .Site.Params.enforceSinglePage -}}
<meta http-equiv="refresh" content="0; url={{ .Site.BaseURL }}">
{{- else -}}
<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">
  {{ partial "head.html" . }}
  <body>
    {{ partial "body-top" . }}
    <main>

      <section class="container">
        <section class="content single">
          <h1>{{ if .Params.heading }} {{ .Params.heading }} {{ else }} {{ .Title }} {{ end }}</h1>

            <div class="sub-header">
              {{if .Params.blog }} {{ .Date.Format (.Site.Params.dateform | default "January 2, 2006") }} · {{ i18n "minuteRead" .ReadingTime }} {{ end }}
            </div>

          <article class="entry-content">
            {{ .Content }}
          </article>

          {{if .Params.blog }} 
          <div class="pagination">
            {{ if .PrevInSection }}
              <a href="{{ .PrevInSection.Permalink }}">&laquo; {{ .PrevInSection.Title }}</a>
            {{ end }}
            {{ if .NextInSection }}
              <a href="{{ .NextInSection.Permalink }}">{{ .NextInSection.Title }} &raquo;</a>
            {{ end }}
          </div>
          {{ end }}
        </section>
      </section>

    </main>
    {{ partial "footer.html" . }}
    {{ partial "body-bottom" . }}
  </body>
</html>
{{- end }}